/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  background-color: #e6c6e4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

/* Header Styling */
.header {
  background-color: #f4e0f5;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 1;
  text-align: left;
}

.gif-container {
  flex-shrink: 0;
  margin-left: 20px;
}

.gif-container img {
  width: 100px;
  height: auto;
}

h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}

/* Navbar Styling */
.navbar {
  background-color: purple;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  flex-wrap: wrap;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.00rem;
  font-weight: bold;
  text-transform: normal;
  transition: color 0.4s;
}

.nav-links a:hover {
  color: yellow;
}

/* Footer Styling */
footer {
  text-align: center;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #f4e0f5;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .nav-links li {
    margin: 5px 0;
  }

  .gif-container {
    display: none;
  }

  .logo {
    flex: 1;
    text-align: center;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f4e0f5;
  }
}


/* General table styling */
.education-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 20px 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Enables horizontal scrolling on small screens */
}

/* Table header styling */
.education-table th,
.education-table td {
  padding: 12px;
  text-align: center;
  color: black;
  border-bottom: 1px solid #ddd;
  word-wrap: break-word;
}

/* Header background color */
.education-table th {
  background-color: #faefdc;
}

/* Alternate row background color */
.education-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect */
@media (hover: hover) {
  .education-table tr:hover td {
    background-color: #B7825F;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .education-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .education-table th,
  .education-table td {
    white-space: nowrap;
  }
}



